@use 'globals' as *;
button {
  padding: 0.5em;
  border-radius: 0.5em;
  font-size: 1.2rem;
  background: var(--eod-blue);
  color: $black;
  border: none;
  box-shadow: none;
  font-weight: bold;
  cursor: pointer;
  &[disabled] {
    background: $text;
  }
  &:hover {
    background: #fff;
  }
}
