$dark-purple: #232946;
$white: #fffffe;
$text: #a7a9be;
$orange: #ff8906;
$black: #000000;
$medium-red: #e53170;
$light-red: #f25f4c;
$eod-blue: #12a8a0;
$class-necro: #129637;

:root {
  --link-color: #{$medium-red};
  --hover-color: #{$orange};
  --eod-link: #{$eod-blue};
  --eod-blue: #{$eod-blue};
  --eod-class-nekro: #{$class-necro};
}
